<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.mapper.ExcellentCourseMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.system.entity.ExcellentCourse">
        <id column="CODE" property="code" />
        <result column="image" property="image" />
        <result column="title" property="title" />
        <result column="sort" property="sort" />
        <result column="PRICE" property="price" />
        <result column="CREATE_TIME" property="create_time" />
    </resultMap>

    <select id="findExcellentCourseList" resultType="cc.mrbird.febs.system.entity.ExcellentCourse">
        select CODE, image,title,sort,PRICE,CREATE_TIME
        from excellent_course
        where code > 0
        <if test="sort != null and sort != ''">
            AND sort = #{sort}
        </if>
        <if test="keyWord != null and keyWord != ''">
            AND title like CONCAT('%',#{keyWord},'%')
        </if>
        <if test="keyWord != null and keyWord != ''">
            AND sort like CONCAT('%',#{keyWord},'%')
        </if>
        <if test="keyWord != null and keyWord != ''">
            AND PRICE like CONCAT('%',#{keyWord},'%')
        </if>
        order by CREATE_TIME ASC
    </select>
</mapper>
